In [3]:
import pandas as pd
import os
from data_preparation import load_data

In [ ]:
DATA_FOLDER = "/mnt/d/sign-lang-data/"
ez = load_data.load_data(DATA_FOLDER, "train.csv")

In [3]:
res = pd.read_parquet(os.path.join(DATA_FOLDER,"train_landmark_files/4718/132875.parquet"), engine='pyarrow')

In [4]:
res

,frame,row_id,type,landmark_index,x,y,z
0,2,2-face-0,face,0,0.568849,0.458078,-0.045442
1,2,2-face-1,face,1,0.553544,0.420910,-0.065209
2,2,2-face-2,face,2,0.553654,0.433180,-0.039494
3,2,2-face-3,face,3,0.541631,0.394081,-0.042482
4,2,2-face-4,face,4,0.553177,0.411433,-0.067053
...,...,...,...,...,...,...,...
3253,7,7-right_hand-16,right_hand,16,0.483145,0.618645,-0.118344
3254,7,7-right_hand-17,right_hand,17,0.286214,0.654441,-0.090772
3255,7,7-right_hand-18,right_hand,18,0.342199,0.651741,-0.112155
3256,7,7-right_hand-19,right_hand,19,0.382268,0.649928,-0.119010
3257,7,7-right_hand-20,right_hand,20,0.419936,0.650066,-0.123800

In [5]:
pd.read_csv(os.path.join(DATA_FOLDER,"train.csv"))

,path,participant_id,sequence_id,sign
0,train_landmark_files/26734/1000035562.parquet,26734,1000035562,blow
1,train_landmark_files/28656/1000106739.parquet,28656,1000106739,wait
2,train_landmark_files/16069/100015657.parquet,16069,100015657,cloud
3,train_landmark_files/25571/1000210073.parquet,25571,1000210073,bird
4,train_landmark_files/62590/1000240708.parquet,62590,1000240708,owie
...,...,...,...,...
94472,train_landmark_files/53618/999786174.parquet,53618,999786174,white
94473,train_landmark_files/26734/999799849.parquet,26734,999799849,have
94474,train_landmark_files/25571/999833418.parquet,25571,999833418,flower
94475,train_landmark_files/29302/999895257.parquet,29302,999895257,room
94476,train_landmark_files/36257/999962374.parquet,36257,999962374,happy